/* FONT WEIGHTS
    300 - light
    400 - regular
    500 - medium
    700 - bold
    900 - black */

* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Rubik', sans-serif;
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: #000000;
}
ul li {
    list-style: none;
}

/* HEADINGS */
h1 {
    font-weight: 500;
    font-size: 5.2rem;
}
h3 {
    font-weight: 500;
    font-size: 3.6rem;
}

/* BTNS */
.btn-primary {
    display: block;
    text-align: center;
    background: #758BFD;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px;
}
.btn-danger {
    display: block;
    text-align: center;
    background: #EC5532;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px;
}

/* TABLE */
label {
    font-weight: 400;
    font-size: 1.8rem;
    width: 100%;
}
label.error {
    color: #EC5532;
    padding-bottom: 1px;
}
.error-login-box {
    min-width: 14rem;
    height: 100%;
    background: #EC5532;
    align-self: flex-end;
    text-align: center;
    font-size: 1.2rem;
    color: #FFFFFF;
    line-height: 2.2rem;
    font-family: 'Rubik', sans-serif;
}
input[type=text].error,
input[type=password].error,
input[type=text].error:focus,
input[type=password].error:focus {
    border: 1px solid #EC5532;
    background: #FFECE7;
    border-top-right-radius: 0;
    margin-top: 0;
    color: #EC5532 !important;
}
input[type=text], input[type=password] {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 1.3rem;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-top: 1px;
    margin-bottom: 16px;
    
    font-weight: 400;
    font-size: 1.6em;
    font-family: inherit;
    color: #000000;
}
input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border: 1px solid #758BFD;
    background: #F1F2F6;
}
input[type=submit] {
    border: none;
    border-radius: 5px;
    background: #758BFD;
    font-weight: 500;
    font-size: 1.8rem;
    color: white;
    padding: 1rem 1.3rem;
    font-family: inherit;
}
input[type=submit]:hover {
    cursor: pointer;
}
::placeholder {
    color: #000000;
    opacity: .3;
}
.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1.8rem;
    user-select: none;
    padding-left: 3rem;

    width: calc(100% - 3rem);
    line-height: 1.9rem;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.6rem;
    width: 1.6rem;
    border: 2px solid #000000;
    border-radius: 4px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox input:checked ~ .checkmark:after {
    display: block;
}
.checkbox .checkmark:after {
    top: 0;
    left: 0.4rem;
    width: 0.5rem;
    height: 1rem;
    border: solid #000000;
    border-width: 0 .3rem .3rem 0;
    transform: rotate(45deg);
}

.perfect-center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inline-login-aux-box {
    display: inline-flex; 
    flex-direction: row; 
    width: 100%;
}

#login-container {
    flex-direction: column;
}
#login-container h1 {
    margin-bottom: 29px;
}
#login-form input[type=text], input[type=password] {
    width: 28.1rem;
    height: 1.8rem;
}
#login-form input[type=submit] {
    margin-top: 40px;
    width: 100%;
    height: 4rem;
}

.left-navbar {
    position: relative;
    float: left;
    height: 100vh;
    width: 34rem;
    background: linear-gradient(180deg, #758BFD 0%, #27187E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-logo {
    color: #FFFFFF;
    font-size: 3.6rem;
    font-weight: 700;
    padding: 3.3rem 4.3rem;
}
.navbar-user-info {
    display: flex;
    width: 100%;
    max-width: 25.4rem;
}
.navbar-user-info-avatar {
    width: 25%;
}
.navbar-user-info-details {
    align-self: center;
    width: 100%;
    padding-left: 2.3rem;
}
#logged-user-name {
    font-size: 2.4rem;
    font-weight: 500;
    color: #FFFFFF;
}
#logged-user-position {
    font-size: 1.4rem;
    font-weight: 400;
    color: #E1E1E1;
}
.avatar {
    width: 4.5rem;
    height: 4.5rem;
    background: #FFFFFF;
    border-radius: 50%;
}

.nav-container {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}
.inner-nav {
    width: 100%;
    color: #FFFFFF;
}
.nav-label {
    font-size: 2.4rem;
}
.nav-btn,
.nav-label {
    padding-left: 4.3rem;
    height: 64px;
    display: flex;
}
.nav-label span {
    align-self: center;
}
.nav-btn a {
    display: flex;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 2.4rem;
}
.nav-btn a span {
    align-self: center;
    padding-left: 3.6rem;
}
.nav-btn:hover,
.nav-btn.active {
    background: #758BFD;
}
.inner-nav.bottom {
    max-width: 34rem;
    position: absolute;
    bottom: 2.1rem;
}

.main-pg {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.ucp-wrapper {
    float: left;
    position: relative;
    flex: 100%;
    background: #F1F2F6;
    padding: 43px 70px;
    padding-bottom: 0;
    height: 100%;
    overflow-y: auto !important;
}

#timedate {
    font-size: 3.6rem; 
}
#page-detail {
    font-size: 1.8rem;
    color: #000000;
    opacity: .6; 
}

.ucp-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#ucp-navbar-time {
    display: flex;
}

.table-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#employees-table {
    margin-top: 86px;
    margin-bottom: 86px;
}
.table-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100%-78px);
    height: 4rem;
    padding: 15px 39px;
}
#table-title {
    color: #758BFD;
    font-weight: 500;
    font-size: 2.4rem;
    align-self: center;
}
#table-header-btn {
    padding: 0.9rem 3rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.1rem;
}
#table-header-action {
    display: flex;
    flex-direction: row;
}
#employee-search-input {
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    font-weight: 300;
    font-size: 18px;

    background-image: url('search-icon.svg');
    background-position: 9px 3px;
    background-repeat: no-repeat;
    margin-right: 26px;
}
#employee-search-input:focus {
    background-color: #FFFFFF;
}


.td-inline-btns {
    display: flex;
    justify-content: center;
}
.table-row-btn {
    padding: 0;
    max-height: 2.4rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding: 4px 16px;
    align-self: center;
    margin: 0 7px;
}

.table-content {
    margin-bottom: 18px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align: center;
    height: 4rem;
    background: rgba(174, 184, 254, 0.65);
}
td {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 400;
    text-align: center;
    height: 4rem;
}
tr:nth-child(2n+1) {
    background: rgba(174, 184, 254, 0.15);
}